# Copy to .env and fill values (DO NOT COMMIT .env to git)
OPENAI_API_KEY=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
PINECONE_API_KEY=pcsk_6wp9mn_D4aSrgmkqq8S7htPSBnUX4MAeaDBRGHuPP5NU1AyyvYBKtjK5RYXcvwDfXgLCES
PINECONE_ENVIRONMENT=us-west1-gcp   # example region - replace with your Pinecone environment
PINECONE_INDEX_NAME=rag-chat-index

# Optional
PORT=8000
